{% extends 'base.html' %}

{% block content %}
<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="https://www.youtube.com/@Pirulla25" class="brand-logo">
            <img src="{{ url_for('static', filename='imgs/pirula-yes.png') }}" alt="Pirula Time" style="width: 40px; height: auto;">
        </a>
        <a id="Channel" href="https://www.youtube.com/@Pirulla25" class="right">
            Canal do Pirula
        </a>
    </div>
</nav>
<div class="container">
    <div class="timer">
        <br><br>
        <h1 class="header center orange-text">{{ stats['mean_time_sec'] }} &plusmn; {{ stats['stddev_time_sec'] }}</h1>
        <div class="row center">
            <h5 class="header col s12 light">Pirula Duration. Last updated: {{ stats['last_updated'] }}</h5>
        </div>
        <div>
            <h2 class="header center">Statistics Summary</h2>
            <table class="responsive-table custom-table">
                <thead>
                    <tr>
                        <th>Statistics</th>
                        <th>Values</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Mean Pirula Duration</td>
                        <td>{{ stats['mean_time_sec'] }}</td>
                    </tr>
                    <tr>
                        <td>Standard Deviation of Pirula Duration</td>
                        <td>{{ stats['stddev_time_sec'] }}</td>
                    </tr>
                    <tr>
                        <td>Total of Pirula's Videos Duration</td>
                        <td>{{ stats['total_time_sec'] }}</td>
                    </tr>
                    <tr>
                        <td>Total of Pirula's Videos</td>
                        <td>{{ stats['number_of_videos'] }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <h2 class="header center">Unkown Facts</h2>
            <table class="responsive-table custom-table">
                <thead>
                    <tr>
                        <th>Facts</th>
                        <th>Values</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Speed of Light in Pirula</td>
                        <td>{{ unkowns['lightPirula'] }} m/pirula</td>
                    </tr>
                    <tr>
                        <td>Time to go from Sun to Earth in Pirula</td>
                        <td>{{ unkowns['pirulaSun2Earth'] }} pirula</td>
                    </tr>
                    <tr>
                        <td>Closest Star in Pirula</td>
                        <td>{{ unkowns['pirulaClosestStar'] }} pirula</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row center">
            <img src="{{ url_for('home.histogram') }}" alt="Histogram">
            </div>
            <br><br>
            <div class="row center">
                <img src="{{ url_for('home.mean_series') }}" alt="Histogram" style="width:100%;">
            </div>
        </div>
    </div>
    <div class="row">
        <h2 class="header center">Recent Uploads</h2>
        <table class="highlight">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Duration</th>
                </tr>
            </thead>
            <tbody>
                {% for video in videos %}
                <tr>
                <td>{{ video['title'] }}</td>
                <td>{{ video['duration'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row center">
        <a href="{{ url_for('home.download_file', filename='pirula_planilha.xlsx') }}" class="waves-effect waves-light btn" download>
            Download Excel
        </a>
    </div>
</div>
<footer class="light-blue lighten-1 page-footer">
<div class="footer-copyright">
    <div class="container">
         Made with <i class="tiny material-icons">favorite</i> by <a class="grey-text text-lighten-3" href="https://github.com/lcscosta">Lucas da Costa</a>
        <a class="grey-text text-lighten-4 right" href="https://github.com/firefueled/pirula-time">Inspired by the previous work of firefueled</a>
    </div>
</div>
</footer>
{% endblock %}